.blog-list, .project-list {
  padding-top: 6em;
  padding-bottom: 1em;
}
.border {
  border-top: 1px solid #f0eeee;
}

h3 {
  font-size: 1.65em;
  line-height: 1em;
  margin-bottom: 2em;
}
h3, h4 {
  font-family: namun gothic, Arial, sans-serif;
  font-weight: 700;
}

ul.no-bullet {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

ul.no-bullet li {
  list-style: none;
}
.project-list li {
  padding-top: 3em;
  padding-bottom: 1em;
}
.border-bottom {
  border-bottom: 1px solid #f0eeee;
}
li {
  margin-bottom: 1.5em;
  padding-bottom: 2em;
}

.post-list li a {
  text-decoration: none;
}
a {
  color: #494c4e;
  text-decoration: none;
  margin-bottom: 1.25em;
  font-weight: 700;
}

.card {
  position: relative;
  margin-bottom: 3em;
}

.card img {
  margin: 0 auto;
  max-width: 100%;
}
img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  background-color: #f0eeee;
}

.card .overlay-button {
  opacity: 0;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-transform: translate(-50%,-10%);
  -moz-transform: translate(-50%,-10%);
  -ms-transform: translate(-50%,-10%);
  -o-transform: translate(-50%,-10%);
  transform: translate(-50%,-10%);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 3;
}
.post-list li a {
  text-decoration: none;
}
.cta-button {
  border-radius: 5px;
  border: 1px solid #f6ac00;
  padding: 1em 1.5em;
  display: inline-block;
  font-size: 1.5em;
  font-style: italic;
  margin: 0 1em;
  margin-bottom: 1em;
  min-width: 10em;
  transition: all .25s ease;
}
a {
  color: #494c4e;
  text-decoration: none;
  margin-bottom: 1.25em;
  font-weight: 700;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
ul.no-bullet li {
  list-style: none;
}

.arrow-right {
  padding-left: 10px;
}
.arrow-right, .arrow-left {
  display: inline-block;
  transition: all .25s ease;
}

.card .overlay {
  opacity: 0;
  position: absolute;
  background-color: #494c4e;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.post-list li a {
  text-decoration: none;
}

h4 {
  font-size: 1.25em;
  line-height: 1em;
  margin-bottom: 1.5em;
  color: #f6ac00;
  text-transform: uppercase;
}
h3, h4 {
  font-family: namun gothic,Arial,sans-serif;
  font-weight: 700;
}

